* {
  font-family: sans-serif;
}
.container {
  padding-inline: 30px;
  padding-block: 30px;
}
/* Start Header */
header {
  background-color: #02012b;
}
header .container {
  display: flex;
  justify-content: space-between;
}

header .container .lang {
  background-color: #242543;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
header .container .lang .one {
  margin-right: 5px;
  height: 15px;
  margin-top: 3px;
}
header .container .lang span {
  font-weight: 500;
}
header .container .lang .two {
  margin-left: 5px;
}
/* End Header */
/* Start Landing */
.landing {
  background-color: #02012b;
  color: white;
  text-align: center;
  height: 250px;
}
.landing .container {
  display: flex;
  flex-direction: column;
}
.landing .container h1 {
  font-size: 55px;
  margin-bottom: 55px;
}
.landing .container .search {
  width: 750px;
  display: flex;
  margin: auto;
}
.landing .container .search .in {
  position: relative;
}
.landing .container .search .in img {
  position: absolute;
  height: 18px;
  left: 14px;
  top: 48%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .container .search input {
  border-radius: 10px;
}
.landing .container .search .one {
  padding: 13px 13px 13px 45px;
  width: 550px;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #242543;
  outline: none;
  border: #242543;
  margin-right: 15px;
}

.landing .container .search .one::placeholder {
  color: white;
}
.landing .container .search .two {
  padding: 10px;
  outline: none;
  border: #4657d9;
  background-color: #4657d9;
  cursor: pointer;
  color: white;
}
/* End Landing */
/* Start Content */
.content {
  background-color: #02012b;

  padding-bottom: 120px;
}
.content .container {
  height: 740px;
  display: flex;
  gap: 30px;
}

.content .container .left {
  /* background-color: red; */
  width: 1347px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* Start Upper in Content */
.content .container .left .upper {
  height: 37%;
  padding: 10px 25px;
  background-image: url(../images/bg-today-large.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 94%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.content .container .left .upper .first {
  color: white;
  transform: translateY(30%);
  -webkit-transform: translateY(30%);
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -o-transform: translateY(30%);
}
.content .container .left .upper .first p:nth-child(1) {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 15px;
}
.content .container .left .upper .first p:nth-child(2) {
  opacity: 0.6;
  margin-top: 0;
}
.content .container .left .upper .second {
  color: white;
  width: 450px;
  justify-content: space-between;
  display: flex;
}
.content .container .left .upper .second .sun img {
  margin-top: 45%;
  height: 150px;
}
.content .container .left .upper .second p {
  font-style: italic;
  font-weight: 500;
  margin-top: 55px;
  font-size: 150px;
}
/* End Upper in Content */
/* Start Middle in Content */
.content .container .left .middle {
  /* background-color: red; */
  color: white;
  padding: 10px 25px;
  height: 25%;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.content .container .left .middle .card {
  background-color: #242543;
  width: 25%;
  padding: 10px 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.content .container .left .middle .card p {
  opacity: 0.6;
  font-size: 18px;
  margin-bottom: 50px;
}
.content .container .left .middle .first {
  margin-left: -24px;
}
.content .container .left .middle .card span {
  font-size: 38px;
  font-weight: 100;
}
/* End middle in content */
/* Start Lower */
.content .container .left .lower .head {
  color: white;
  font-weight: 200;
  font-size: 20px;
}
.content .container .left .lower .inner-content {
  /* background-color: red; */
  color: white;
  padding: 10px;
  height: 25%;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.content .container .left .lower .card {
  background-color: #242543;
  width: calc((75% / 7));
  padding: 10px 25px;
  border-radius: 20px;
  height: 200px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .container .left .lower .first {
  /* margin-left:-25px; */
}
.content .container .left .lower .card p {
  font-size: 20px;
}
.content .container .left .lower .card .image img {
  height: 90px;
}

.content .container .left .lower .card .degrees {
  display: flex;
  justify-content: space-between;
}
.content .container .left .lower .card .degrees span {
  font-size: 25px;
  opacity: 0.7;
}
/* End lower */
.content .container .right {
  background-color: #252541;
  border-radius: 20px;
  padding: 10px 25px;
  height: 800px;
  width: 470px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.content .container .right .head {
  display: flex;
  justify-content: space-between;
}
.content .container .right .head p {
  color: white;
  font-weight: 600;
  font-size: 22px;
}
.content .container .right .head .icon {
  background-color: #3b3a5c;
  padding: 10px 30px;
  border-radius: 10px;
  margin-block: 1em;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.content .container .right .head .icon img {
  margin-left: 5px;
}
.content .container .right .innerContent {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-height: 720px;
  overflow-y: auto;
  padding-right: 8px;
}
.content .container .right .innerContent::-webkit-scrollbar {
  width: 6px;
}

.content .container .right .innerContent::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.content .container .right .innerContent::-webkit-scrollbar-track {
  background: transparent;
}

.content .container .right .innerContent .card {
  color: white;

  display: flex;
  padding: 8px 10px;
  background-color: #2e2e4a;
  border-radius: 15px;
  justify-content: space-between;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.content .container .right .innerContent .card .miniIcon {
  display: flex;
}
.content .container .right .innerContent .card .miniIcon img {
  width: 50px;
  margin-right: 5px;
}
.content .container .right .innerContent .card .miniIcon p {
  margin-top: 20px;
  font-weight: 700;
}
/* End Content */
